
#container
{
	margin: 100px auto;
	width: 300px;
	box-shadow: 5px 10px 18px #FBEDED;
	background-color: #FBEDED;

}

.completed
{
color: gray;
text-decoration: line-through;
}

h1{
	background-color:  #CBAAAA;
		color: white;
        margin: 0;
}