
#container
{
	margin: 100px auto;
	width: 300px;
	box-shadow: 5px 10px 18px #FBEDED;
	background-color: #FBEDED;
	
}
ul
{
	list-style: none;
	margin: 0;
	padding: 0;

}

.completed
{
       color: gray;
       text-decoration: line-through;
}

h1 
{ 
	    background-color:  #CBAAAA;
		color: white;
        margin: 0;
        padding: 10px 20px;
	    text-transform: uppercase;
	    font-weight: normal;
	    font-size: 25px;
	    font-family: 'Open Sans', sans-serif;

}
body{
	font-family: 'Gayathri', sans-serif;
	background: #C9FFBF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFAFBD, #C9FFBF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
input{
	width: 100%;
	font-size: 18px;
	padding: 13px 13px 13px 20px;
	background-color: #FBEDED;
	box-sizing: border-box;
	color: #CBAAAA;
	border: 3px solid rgba(0, 0, 0, 0);
	font-family: 'Gayathri', sans-serif;
	
	
}
input:focus
{
	background-color: white;
	outline: none;
	border: 3px solid #CBAAAA;
}

li 
{
    background: white;
    color: #666;
    height: 40px;
    line-height: 40px;
}

li:nth-child(2n)
{
	background: #FBEDED;
}
.fa-pencil-square
{
	float: right;
}

span 
{
 
 background-color: red;
 color: white;
 width: 0px;
 height: 40px;
 margin-right:  20px;
 text-align: center;
 display: inline-block;
 transition: 0.2s linear;
 opacity: 0;

}
li:hover span
{
width: 40px;
opacity: 1.0;

}
