
#container
{
	margin: 100px auto;
	width: 300px;
	box-shadow: 5px 10px 18px #FBEDED;
	background-color: #FBEDED;
	
}
ul
{
	list-style: none;
	margin: 0;
	padding: 0;

}

.completed
{
       color: gray;
       text-decoration: line-through;
}

h1 
{ 
	    background-color:  #CBAAAA;
		color: white;
        margin: 0;
        padding: 10px 20px;
	    text-transform: uppercase;
	    font-weight: normal;
	    font-size: 25px;
	    font-family: 'Open Sans', sans-serif;

}
body{
	font-family: 'Gayathri', sans-serif;
}
input{
	width: 100%;
	font-size: 18px;
	padding: 13px 13px 13px 20px;
	background-color: #FBEDED;
	box-sizing: border-box;
	color: #CBAAAA;
	
}
input:focus
{
	background-color: white;
	outline: none;
	border: 3px solid #CBAAAA;
}

li 
{
    background: white;
    color: #666;
    height: 60px;
    line-height: 60px;
}

li:nth-child(2n)
{
	background: #FBEDED;
}